.App {
  text-align: center;
  overflow-x: hidden;
}

::-webkit-scrollbar{
  width:12px;
}

::-webkit-scrollbar-track{
  background:#070707;
}

::-webkit-scrollbar-thumb{
 background:linear-gradient(rgb(110, 65, 91),rgb(66, 64, 64));
 border-radius:5px;
}


@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
